
.table1 {
    border-bottom: 1px solid rgb(13, 215, 234);    
    border: 2px solid rgb(14, 159, 232);
    width: 1100px;
    height: 400px;
    border-radius: 5px;
    margin-left:15px;
    margin-top: 20px;
  }
  .tr{
    border-bottom: 1px solid rgb(14, 160, 218);
    background-color:#cc3300;
    color:white;
    height: 50px;
    padding-left:40px;
  }
  .tr1{
    border-bottom: 1px solid rgb(7, 198, 246);
    border-left: 1px solid rgb(11, 192, 242);
    background-color:darkorange;
    color:white;
    padding-left:40px;
    height: 50px;
  }
  .adi1-box1{
    padding-left:80px;
  }
  .adi-box1{
    border-left: 1px solid rgb(20, 169, 238);
    padding-left:80px;

  }

  .adi-box2{
    border-left: 1px solid rgb(20, 169, 238);
    padding-left:50px;

  }




  .adi-barchart{
    width: 1100px;
    height: 440px;
    border: 1px,solid,grey;
    margin-left:15px;
    border-radius:10px;
    margin-top: 50px;
    display: flex;
  }

  .custom-bar {
    width: 1500px;
    height: 500px;
  }
  