/* contact section*/
.containy {
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    width: 600px;
    height: 800px;
    margin-top: 50px;
    margin-left: 150px;
    border: 2px solid #006699;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-top: 30px;
  }
  
  label {
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
  }
  
  input[type="text"]{
  
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #006699;
    border-radius: 20px;
    width: 500px;
    margin-left: 30px;
  }
  
  textarea{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #006699;
    border-radius: 30px;
    width: 500px;
    margin-left: 30px;
  }
  
  input[type="submit"] {
    background: linear-gradient(to bottom,#006699 0%, #006699 100%);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049; /* Darker Green */
  }
  
  textarea {
    resize: vertical;
  }
  