.fold1 {
    padding-left: 60px; /* Adjust padding-left to create space */
    color: #333; /* Set text color (e.g., dark gray) */
    font-size: 18px; /* Set font size */
    border: 1px solid #ccc;
    margin-left: 30px; /* Optional: Add a border for clarity */
}


.fold2 {
    padding-left: 180px; /* Adjust padding-left to create space */
    color: #333; /* Set text color (e.g., dark gray) */
    font-size: 18px; /* Set font size */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
}

.fold1::placeholder {
    color: rgb(249, 249, 249);
    font-size: 18px;
    margin-right:20px;
  }

  .fold7::placeholder {
    color: rgb(249, 249, 249);
    font-size: 15px;
    margin-right:20px;
  }